$yellow:#fffa19;
$red:#f20c0c;
$green:#15b02c;

@mixin margenes($top, $bottom){
    margin-top:$top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$yellow;
    color:black;
    @include margenes(50px, 20px);
    }
    
    footer{
        padding:10px 10px 0 10px;
        background-color:$red;
        @include margenes(10px, 0px);
    }
    
    .card-hotel{
        flex: 1 265px;
        padding:2px 0px 0px 0px;
        @include margenes(10px, 10px);
    }
    
    .btn-reserva{
        width: 100%;
        border-radius:0px;
    }
    
    .footer-address-icon {
    padding-right: 10px;
    }
    
    .tab-content{
        padding-top: 10px;
    }

    #mainNav{
        background-color:$green!important;
    }