.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #f20c0c;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 265px;
  padding: 2px 0px 0px 0px;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

#mainNav {
  background-color: #15b02c !important; }
